.main
{
    border: 5px solid grey;
    width: 400px;
    margin: 0px auto;
}
.num,.divide,.mul,.sub,.add,.clear
{
    width: 97px;
    height: 40px;
    background-color: lightblue;
}
.equal
{
    width: 400px;
    height: 40px;
    background-color: lightblue;
}
h1
{
    margin-top: 50px;
    margin-left: 595px;
    color: grey;
}